!!! 5
%html
  %head
    %link{rel: "stylesheet", href: "/assets/base.scss"}

  %body.presenter.deck-container
    .slides Loading...

    %script{ src: app.config["jquery"] }
    %script{ src: "/assets/vendor/deck.js/modernizr.custom.js" }
    %script{ src: "/assets/vendor/deck.js/core/deck.core.js" }
    %script{ src: "/assets/vendor/deck.js/extensions/menu/deck.menu.js" }
    %script{ src: "/assets/vendor/deck.js/extensions/goto/deck.goto.js" }
    %script{ src: "/assets/vendor/deck.js/extensions/status/deck.status.js" }
    %script{ src: "/assets/vendor/deck.js/extensions/hash/deck.hash.js" }

    %script{ src: "/assets/custom.js" }

    :javascript
      $(function() {
        $.get("/slides", function(data) {
          $(".slides").replaceWith(data);
          $(".slides").find(".note").remove();
          $.deck(".slide");
        })
      });

