!!! 5
%html
  %head
    %meta(charset="UTF-8")

    %link(rel="stylesheet" href="/assets/main.scss")

    %script(defer=true src="/vendor/shower.js")
    %script(defer=true src="/vendor/remote-sync.js")
    %script(defer=true src="/assets/custom.js")

    %link(rel="icon" href="data:image/svg+xml,<svg></svg>")

  %body.shower.list
    != slides
